audio {
	display: none;
	margin: 0 auto;
	height: 20px;
	max-width: 400px;
}

#myplayer {
	padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
}

#myplayer div {
	width:100%;
}

.time {
	display: inline;
}

#timeline {
	height: 24px;
	background-color: #515151;
	max-width: 400px;
/*	margin: 0px;*/
	display: inline-block;
}

#position {
	background-color: #908E8E;
	width: 0%;
	height: 100%;
}

#slider {
	border-right: 1px solid #fff;
	width: 0%;
	height: 100%;
}

#displayArea {
	background: #fff;
	border: 1px solid #ccc;
	padding: 2px;
	float: left;
	width: auto;
	display: none;
	position: relative;
	top: -68px;
	}

@media only screen and (min-height: 600px) {
	#timeline {
		height: 12px;
	}
	
	#displayArea {
		top: -56px;
	}
}
